*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #f5f5f0;
	font: 100% Verdana;

}
h1, h2, h3{
	font-weight: bold;
	color: #4CAF50;
}
.container{
	margin: 2.3%;
	padding: 2%;
	background-color: #ffffff;
}
.banner{
	margin-bottom: 50px;
}
.banner h1{
	padding-bottom: 15px;
}
.menu-bar ul{
	list-style-type: none;
	width: 100%;
}
.menu-bar li{
	margin-top: 10px;
	border: 0px solid;
	text-align: center;
	width: 15%;
	float: left;
	margin-right: 10px;
}
.menu-bar li a{
	text-decoration: none;
	background-color: #555555;
	display: block;
	color: #ffffff;
	padding: 8px;
}
.menu-bar li a:hover:not(#active){
	background-color: #a6a6a6;
}
#active{
	background-color: #4CAF50;
}
.article{
	margin-top: 20px; 
	display: inline-block;
	margin-bottom: 20px
}
.article a{
	color: black;
}
.article a:hover{
	color:#4CAF50;
}
.side-bar{
	background-color: #d9d9d9;
	padding: 15px 20px 20px;
}
.footer{
	font-size: 12px;
	text-align: center;
	padding: 15px 20px;
}
@media only screen and (max-width: 1024px){
	.menu-bar li{
		width: 19%;
	}
	
}
@media only screen and (max-width: 800px){
	.menu-bar li{
		width: 25%;
	}
	
}
@media only screen and (max-width: 680px){
	.menu-bar li{
		width: 37%;
	}
	
}