*{
	margin: 0;
	padding: 0;

}
.container{
	margin: 2.3%;
	font: 100% Lucida Sans, Verdana;
}
.banner{
	color: #ffffff;
	background-color: #4CAF50;
	padding: 15px;
	border-radius: 5px;
}
.menu-bar{
	margin-top: 5px; 
	width: 20%;
	float: left;
}
.menu-bar ul{
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 5px; 
	overflow: hidden;
}
.menu-bar li{
	margin-bottom: 5px;
	border: 1px solid;
	border-color: #ccddff;
	border-radius: 5px;
	background-color: #d6d6c2;
	width: 90%;
}
.menu-bar li a{	
	padding: 5px;
	display: block;
	text-decoration: none;
	color: black;

}
.menu-bar li a:hover:not(#active){
	border: 0px solid ;
	border-radius: 5px;
	background-color: #ffffff;
}
#active{
	color: white;
	border: 0px solid;
	border-radius: 5px;
	background-color: #4CAF50;	
}
.article{
	margin-top: 30px; 
	float: left;
	width: 60%;
}
.article a{
	padding-bottom: 10px;	
	color: black;
}
.article a:hover{
	text-decoration: none;
}
.side-bar{
	margin-top: 10px;
	color: #ffffff;
	border:0px solid;
	border-radius: 5px;
	background-color: #0080ff;
	height:inherit;
	float: left;
	width: 20%;
	text-align: justify;
}
.side-bar h3{
	padding: 20px 15px;
}
.side-bar p{
	padding: 10px 15px;
}
.footer{
	display: inline-block;
	margin-top: 10px;
	border:1px solid;
	border-radius: 5px;
	border-color: #ebebe0;
	background-color: #d6d6c2;
}
.footer p {
	padding: 20px;
}
@media only screen and (max-width: 1024px){
	.menu-bar{
		width: 40%;
	}
	.article{
		width: 60%;
	}
	.side-bar{
		width: 100%;
		height: 180px;
	}
}
@media only screen and (max-width: 680px){
	.menu-bar{
		width: 100%;
	}
	.menu-bar li{
		width: 100%;
	}
	.article{
		width: 100%;
	}
	.side-bar{
		width: 100%;
		height: 180px;
	}
}